
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.container{
   display: flex;
   padding-top: 18px;
}
.logo{
    display: flex;
  
    padding-left: 185px;
    /* margin: 13px; */
   align-items: center;
   cursor: pointer;

}
.logo > img{
    height: 45px;
    width: 45px;
}
.textGradient{
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Open Sans", sans-serif;
}
.logo > p{
    
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 25px;
    font-weight: bolder;
   
}
.navbarItems{
    display: flex;
    color: white;
    font-family: "Open Sans", sans-serif;
    flex: 0.75;
    justify-content: space-between;
    padding-left: 216px;
    margin: 14px;
    cursor: pointer;
    /* padding-right: 15px; */
    align-items: center;

}
.loginBtn{
    background-color: rgb(250, 227, 16);
    color: black;
    border-radius: 35px;
    width: 75px;
    height: 35px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    
}
.loginBtn:hover{
background-color: rgb(0, 0, 0);
font-family: "Open Sans", sans-serif;
color: white;
}

.ethCard{
    background-image: linear-gradient(
  55deg,
  hsl(331deg 75% 19%) 0%,
  hsl(337deg 69% 24%) 9%,
  hsl(342deg 63% 29%) 15%,
  hsl(348deg 58% 35%) 20%,
  hsl(354deg 54% 40%) 25%,
  hsl(1deg 50% 46%) 30%,
  hsl(8deg 54% 48%) 35%,
  hsl(14deg 60% 51%) 40%,
  hsl(19deg 70% 53%) 46%,
  hsl(25deg 79% 54%) 51%,
  hsl(30deg 87% 54%) 57%,
  hsl(35deg 93% 54%) 63%,
  hsl(40deg 98% 53%) 70%,
  hsl(45deg 100% 51%) 78%,
  hsl(50deg 100% 50%) 87%,
  hsl(55deg 100% 50%) 100%
);
color : white;
width: 300px;
height: 160px;
border-radius: 18px;
margin-right: 200px;
padding: 25px;

}
.para1{

    font-size: 45px;
}
.para3{
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
  /* margin: -50px; */
  /* padding-left: 55px; */

}
.welcomeText{

    margin-left: 185px;
   
}
.welcome1{
    display: flex;
align-items: flex-start;
justify-content: space-between;
padding-top: 25px;
margin-top: 25px;

}
.ethLogo{
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ethCard1{
    display: flex;
    justify-content: space-between;
}
.ethCard2{
  margin-top: 70px;
  font-size: 13px;
}

table td {
    border:1px solid #b3adad;
    text-align:center;
    padding:5px;
    background: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
table {
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
    width: 70vh;
    height: 20vh;
    margin-left: 185px;
    margin-top: 70px;
    -moz-border-radius: 5px !important;

}
.welcome2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
 
}
.form{
    display: flex;
    flex-direction: column;
   
    background-color: rgb(21, 31, 49);
    width: 440px;
    height: 300px;
    margin-right: 150px;
    border-radius: 25px;

}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
   
    align-items: center;
}
.inputContainer{
    color: #fff;
    background-color: rgb(30, 44, 68);
   height: 10px;
    width: 50vh;
    padding: 12px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
   
}
.inputContainer > input{
  
    width: 35vh;
    height: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
   
    
}
.sendBtn{
    background-color: rgb(30, 44, 68);
    color: rgb(255, 255, 255);
    border-radius: 35px;
    width: 54vh;
    height: 40px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    margin: 8px;
    
}
.sendBtn:hover{
    background-color: rgb(74, 86, 105);
   
    color: #fff;
}
.connectBtn{
    background-color: rgb(250, 227, 16);
    color: black;
    border-radius: 35px;
    width: 400px;
    height: 35px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.connectBtn:hover{
    background-color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    color: white;
    }

    /* services section */

   .servicesSection{
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    margin-top: 25px;
   }
   .para2 {
    font-size: 45px;
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Open Sans", sans-serif;
    
    margin-left: 185px;
   }
   .servicesContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
   background-color: transparent;
    
    width: 550px;
    height: 450px;
    margin-right: 106px;
    border-radius: 25px;
   }
   .servicesPoints{
    background-color: #2b2b2b;
    height: 70px;
    width: 70vh;
    padding: 16px;
    margin: 12px;
    display: flex;
   
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 16px;
    border: 2px solid rgb(104, 102, 102);
  
   }
   .pointsDescription{
    margin: 19px;
    padding: 3px;
   }
   .pointsDescription > p{
    font-size: 15px;
   }
   .securityLogo{
    border-radius: 50%;
    width:43px;
    height: 32px;
    background-color: rgb(45, 45, 224);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
   }
   .searchLogo{
    border-radius: 50%;
    width:43px;
    height: 32px;
    background-color: rgb(179, 97, 218);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
   }
   .transactionLogo{
    border-radius: 50%;
    width:43px;
    height: 32px;
    background-color: rgb(228, 44, 60);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
   }

   /* transactions */

   .transactionContainer{
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
     flex-direction: column; 
    margin: 87px;
    padding: 19px;
   
    height: auto;


   }
   .transactionHeading{
    font-size: 30px;
   }
   .latestTransactions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
   
  overflow: hidden;

   }
 
   .singleTransaction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    color: white;
    width: 240px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 5px;
    background-color: rgb(46, 53, 53);
    cursor: pointer;

   }
   .singleTransaction > a{
    color: white;
    text-decoration: none;
    margin-left: -74px;
 
   }
  

   .amount{
color: white;
font-size: 14px;
margin-left: -110px;
margin-top: -15px;

   }
   .addressFrom{

font-size: 14px;
margin-top: 28px;
padding-left: 8px;

   }
   .addressTo{
    margin-top: -15px;
    font-size: 14px;
    margin-left: -14px;
   }
   .cardImg > img{
    width: 200px;
    height: 180px;
    border-radius: 6px;
 
   }
  
   .cardImg{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* border-radius: 19px; */
    width: 203px;
    height: 180px;
    /* background-color: aqua; */
   }
   .timeStamp{
    background-color: rgb(250, 227, 16);
    color: black;
    border-radius: 35px;
    width: 175px;
    height: 25px;
    outline: none;
    border: none;
    margin-bottom: 17px;
    margin-top: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: bolder;
    
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    
   }

   /* footer */

   .footerContainer{
    color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
  
   }

   .footerSection1{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .footerLogo{
    display: flex;
  margin-left: 250px;
   align-items: center;
   cursor: pointer;
   }
   .footerLogo > img{
    height: 45px;
    width: 45px;
   }
   .logoHeading{
      
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 20px;
    font-weight: bolder;
   
   }
   .footerItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    flex: 0.55;
    justify-content: space-between;
  
    /* margin-left: 150px; */
    margin-right: 250px; 
   
    /* margin: 14px; */
    cursor: pointer;
   
   }
   .footerSection2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
    margin: 20px;
   }
   .footerLine{
    display: flex;
    border: 1px solid white;
    /* margin: 30px; */
   align-self: center;
    width: 62vw;
   }
   .footerSection3{
    display: flex;
    justify-content: space-between;
   align-items: center;
   }
   .footerHeading1{
    margin-left: 250px;
    font-size: 12px;
   }
   .footerHeading2{
    margin-right: 250px;
    font-size: 12px;
   }

   /* loader */
   .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
   }